---
services:
  mysql:
    image: mysql:9.2.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./volumes/mysql_data:/var/lib/mysql
      - ./volumes/mysql_conf:/etc/mysql/conf.d
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - rtt

  kafka:
    image: apache/kafka:3.9.1
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        # KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_TOPIC: debezium
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - ./volumes/kafka-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --list --bootstrap-server kafka:9092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - rtt

  connect:
    image: quay.io/debezium/connect:3.0 
    container_name: debezium-connect
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: connect_configs
      OFFSET_STORAGE_TOPIC: connect_offsets
      STATUS_STORAGE_TOPIC: connect_statuses
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - rtt


  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_BROKERS=kafka:9092
      - BASE_PATH=${BASE_LINK}
      - HOSTNAME=test.rtt.digital
    depends_on:
      kafka:
        condition: service_healthy
          #labels:
          #  - "traefik.enable=true"
          #  - "traefik.http.routers.redpanda.rule=PathPrefix(`/redpanda`)"
          #  - "traefik.http.routers.redpanda.tls=true"
          #  - "traefik.http.middlewares.redpanda-compress.compress=true"
          #  - "traefik.http.services.redpanda.loadbalancer.server.port=8080"
    networks:
      - rtt

networks:
  rtt:
    name: rtt
    external: true
